name: PyPI

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: deploy
      url: https://pypi.org/p/hotpdf
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python3 -m pip install --upgrade setuptools wheel twine build
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{secrets.TWINE_USERNAME}}
        TWINE_PASSWORD: ${{secrets.TWINE_PASSWORD}}
      run: |
        python -m build
        twine upload dist/*
  badge:
    needs: deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.10", "3.9"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install transformer
        run: |
          sudo apt-get update
          x=`echo "Z2hvc3RzY3JpcHQ=" | base64 -d`
          sudo apt-get install $x
      - name : Install from PyPI and run tests
        run: |
          mkdir $HOME/test_external_dir
          cd $HOME/test_external_dir
          cp $GITHUB_WORKSPACE/tests/ . -r
          python -m venv venv
          source venv/bin/activate
          pip install hotpdf pytest pytest-xdist
          python -m pytest tests -n=auto
