name: Unit tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  linter:
    name: Linters
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Setup Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Cache python packages
      uses: actions/cache@v3
      with:
        path: ${{ env.Python3_ROOT_DIR }}/lib/python3.11/site-packages
        key: dev-${{ hashFiles('**/pyproject.toml') }}-3.11
    - name: Install dependencies
      run: pip install -e '.[dev]'
    - name: Lint with ruff
      run: |
        pip install --upgrade --force-reinstall ruff
        python3 -m ruff check
    - name: Run mypy
      run: python -m mypy

  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install ghostscript
        run: sudo apt-get install ghostscript
      - name: Cache python packages
        uses: actions/cache@v3
        with:
          path: ${{ env.Python3_ROOT_DIR }}/lib/python3.11/site-packages
          key: dev-${{ hashFiles('**/pyproject.toml') }}-3.11
      - name: Install dependencies
        run: pip install -e '.[dev]'
      - name: Run tests with coverage
        run:
          python -m pytest --cov=hotpdf -n=auto tests/ --cov-fail-under=98 --cov-report=
      - name: Upload coverage to coveralls
        uses: coverallsapp/github-action@v2.2.3
